:root, ::backdrop{
    --keyColor: oklch(0.5 0.1 240);

    --primary: oklch(0.7 0.14 240);
    --onPrimary: oklch(0.2 0.02 240);

    --secondary: oklch(0.7 0.14 200);
    --onSecondary: oklch(0.2 0.02 200);

    --background: oklch(0.2 0.02 240);
    --onBackground: oklch(0.8 0.04 240);
    
    --surface: oklch(0.3 0.04 240);
    --onSurface: oklch(0.7 0.04 240);

    --error: oklch(0.62 0.24 30);
    --onError: oklch(0.8 0.04 30);
}