:root, ::backdrop{
    --hue: 240;

    --keyColor: oklch(0.5 0.1 var(--hue));

    --primary: oklch(0.7 0.14 var(--hue));
    --onPrimary: oklch(0.2 0.02 var(--hue));

    --secondary: oklch(0.7 0.14 calc(var(--hue) - 40));
    --onSecondary: oklch(0.2 0.02 calc(var(--hue) - 40));

    --tertiary: oklch(0.7 0.14 calc(var(--hue) + 40));
    --onTertiary: oklch(0.2 0.02 calc(var(--hue) + 40));

    --background: oklch(0.2 0.02 var(--hue));
    --onBackground: oklch(0.8 0.04 var(--hue));
    
    --surface: oklch(0.3 0.04 var(--hue));
    --onSurface: oklch(0.7 0.04 var(--hue));
    
    --error: oklch(0.62 0.24 30);
    --onError: oklch(0.8 0.04 30);

    --green: oklch(0.7 0.14 140);
    --onGreen: oklch(0.2 0.02 140);

    --yellow: oklch(0.7 0.14 90);
    --onYellow: oklch(0.2 0.02 90);

    --orange: oklch(0.7 0.14 60);
    --onOrange: oklch(0.2 0.02 60);

    --red: oklch(0.7 0.14 30);
    --onRed: oklch(0.2 0.02 30);
}