@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@property --hue {
  syntax: '<number>';
  inherits: true;
  initial-value: 240;
}

:root, ::backdrop{
    --font-head: "Atkinson Hyperlegible Next", sans-serif;
    --font-body: "Inter", sans-serif;

    --radius: 30px;
    --padding: 16px;
    --font-size: 1rem;

    --hue: 240;
    animation: hue-rotate 3s ease-in-out infinite alternate;
}

@keyframes hue-rotate{
    from{--hue: 0;}
    to{--hue: 360;}
}

body{
    background-color: var(--background);
    margin: 0%;
    overflow-x: hidden;
    transition: all 500ms ease, transform 0 ease;
}

h1{
    font-family: var(--font-head);
    color: var(--orange);
}

.big{
    font-family: var(--font-body);
    font-size: var(--font-size);
    color: var(--onSurface);
}

.lit{
    color: var(--primary);
}

.nomargin{
    margin: 0px;
}

.chatbotmessage{
    font-family: var(--font-body);
    font-size: --font-size;
    color: var(--onBackground);
    margin: 0px;
}

.tempeditable{
    font-family: var(--font-body);
    font-size: --font-size;
    color: var(--onSurface);

    border-color: var(--keyColor);
    border-width: 4px;
    border-style: solid;

    border-radius: var(--radius);

    padding: calc(var(--padding)/2);

    background-color: var(--background);

    transition-duration: 500ms;
}

.paintchipgrid{
    display: grid;

    grid-template-columns: repeat(11,1fr);
    grid-template-rows: repeat(2,1fr);

    height: 64px;
    width: min(704px,calc(100% - var(--padding)));

    overflow: hidden;

    /* transition-duration: 500ms; */
}

.paintchip{
    border-radius: 24px;

    border-color: rgba(0, 0, 0, 1);
    border-width: 0px;
    border-style: solid;

    cursor: pointer;
    transition-duration: 100ms;
}

.paintchip:hover{
    border-radius: 24px;

    border-color: rgba(255, 255, 255, 1);
    border-width: 4px;
    border-style: solid;

    transition-duration: 100ms;
}

.paintchip:active{
    border-radius: 24px;

    border-color: rgba(0, 0, 0, 1);
    border-width: 4px;
    border-style: solid;

    transition-duration: 100ms;
}

.layout{
    display: grid;
    grid-template-columns: 360px 1fr;
    height: 100vh;
    transition: grid-template-columns 300ms ease;
}

@media (max-width: 1048px) {
    .layout {
        grid-template-columns: 240px 1fr;
    }
}

@media (max-width: 928px) {
    .layout {
        grid-template-columns: 0px 1fr;
        transition: grid-template-columns 300ms ease;
    }

    .sidebar {
        opacity: 0;
        transition: 300ms ease;
        pointer-events: none;
    }
}

.layout.collapsed{
    grid-template-columns: 0px 1fr;
    transition: grid-template-columns 300ms ease;
}

.sidebar{
    overflow: hidden;
    background-color: var(--surface);
    color: var(--onSurface);
    padding: var(--padding);
    border-radius: 0px var(--radius) var(--radius) 0px;

    display: grid;
    grid-template-rows: 72px 1fr 96px;
    gap: var(--padding);
}

.main{
    display: grid;
    grid-template-rows: 168px 1fr 96px;
    gap: var(--padding);

    background-color: var(--background);
    color: var(--onSurface);
    padding: var(--padding);

    width: calc(100% - var(--padding)*2);
    max-width: 720px;
    margin: 0px auto;
}

.top{
    background-color: var(--surface);
    border-radius: var(--radius);
    padding: var(--padding);
}

.chat{
    background-color: var(--surface);
    border-radius: var(--radius);
    padding: var(--padding);
    max-height: calc(100vh - 168px - 96px - var(--padding)*6);
    overflow-y: scroll;
    position: relative;

    scrollbar-width: none;
    scrollbar-color: var(--primary) transparent;
}

.bottom{
    background-color: var(--surface);
    border-radius: var(--radius);
    padding: calc(var(--padding)*0.75);

    display: grid;
    align-items: center;
    grid-template-columns: 60px 1fr 60px;
    gap: calc(var(--padding));

}

@property --active-opacity {
  syntax: '<number>';
  inherits: false;
  initial-value: 1;
}

.pill,
.invpill,
.litpill,
.pill96,
.placeholder60
{
    height: 72px;
    border-radius: var(--radius);
    font-size: --font-size;
    font-weight: 700;
    font-family: var(--font-body);
    display: grid;
    align-content: center;
    justify-items: center;
    cursor: pointer;
    border-width: 0px;
    border-color: var(--keyColor);
    border-style: solid;

    --active-opacity: 1;
    background-color: oklch(from var(--bg-base) l c h / var(--active-opacity));

    filter: drop-shadow(0px 0px 0px var(--background));
    transition: scale 500ms ease, --active-opacity 500ms ease, box-shadow 500ms ease, filter 500ms ease;
}

.pill:hover,
.invpill:hover,
.litpill:hover,
.pill96:hover,
.placeholder60:hover{
    z-index: 2;
    position: relative;

    --active-opacity: 1;

    backdrop-filter: blur(0px);

    box-shadow: inset 0 0 0 5px oklch(from var(--onBackground) l c h / 0.2);
    filter: drop-shadow(0px 0px 2px var(--background));

    scale: 1.05;

    transition: scale 800ms ease, --active-opacity 800ms ease, box-shadow 800ms ease, filter 800ms ease;
}

.pill:active,
.invpill:active,
.litpill:active,
.pill96:active,
.placeholder60:active{
    scale: 1.1;

    --active-opacity: 0.5; 

    backdrop-filter: blur(8px);

    box-shadow: inset 0 0 0 5px var(--onBackground);
    filter: drop-shadow(0px 0px 10px var(--primary));

    z-index: 5;
    position: relative;

    transition: scale 50ms ease, --active-opacity 50ms ease, box-shadow 50ms ease, filter 50ms ease;
}

.pill    { --bg-base: var(--surface);    color: var(--onSurface); }
.invpill { --bg-base: var(--background); color: var(--onBackground); }
.litpill { --bg-base: var(--primary);    color: var(--onPrimary); }

.pill96{
    height: 96px !important;
}

.placeholder60{
    width: 60px;
    height: 60px;
}

.chatlist{
    background-color: var(--background);

    border-radius: var(--radius);
}